<% include ../partials/header %>
<div class="container mt-5 mb-5">
<div class="row">
<div class="col-12 mx-auto text-center mt-5 mb-5" >
<h1 style="font-size: 12.5rem;">404</h1>
<p>Your page you looking is not available</p>
</div>
</div>
</div>

<% include ../partials/footer %>
